@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Vinyl&display=swap');

:root {
    font-family: "Roboto Mono", serif;
}
html, body {
    min-height: 100%; 
    background-color: rgb(243, 255, 240);
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    margin: auto;
    padding-left: 10%;
}

body > :first-child {
    justify-content: center;
    width: 30%;
    background-image: url("image/vegetarian.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.589);
}

.title {
    position: relative;
    min-width: 100%;
    color: white;
}

.title > h1 {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 3cqw;
    background-color: rgba(0, 0, 0, 0.356);
    min-width: 100%;
    padding: 50px 0px 50px 0px;
}

section {
    display: flex; 
    height: 100%;
}

body > :last-child {
    background-color: azure;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.425);
    row-gap: 5%;
}

body > :last-child > form {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
}

body > :last-child > div {
    margin-left: 6%;
    padding-right: 20%;
}

body > :last-child > div > h2 {
    font-size: 1.3cqw;
}

body > :last-child > form > div:first-of-type {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.342);
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body > :last-child > form > div > fieldset {
    padding: 20px 0px 20px 0px;
    padding-left: 6%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    height: 70%;
    align-content: center; 
}

fieldset > legend {
    position: relative;
    font-size: 1.3cqw;
    padding-bottom: 40px;
}

fieldset > .input-field {
    color: rgb(134, 122, 122);
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input-field > label {
    font-size: 0.8cqw;
    margin: 1%;
}
.input-field > input {
    border-radius: 5px;
    width: 80%;
    height: 25px;
}

form > div:last-of-type {
    padding-top: 60px;
    margin-left: 6%;
}

form > div:last-of-type > button {
    font-size: 1.3em;
    padding: 20px 100px 20px 100px;
    border-radius: 8px;
    background-color:darkred;
    color: azure;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

section > h3 {
    padding-top: 30px;
    margin-left: 6%;
}